html {
    font-family: 'Share Tech Mono', monospace;
   /* background-image: url();
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: black;*/
}

body{
	margin: 0 auto;
	width: 80%;
}
h1{
    font-family: 'Big Shoulders Stencil Text', cursive;
	text-align: center;
	color: rgb(255, 255, 255);
}
/** Datos encuesta **/
.form {
	display: grid;
	width: 80%;
	margin: auto;
}
/**caja donde se piden los datos del formulario**/
#datos{
	background-color: rgb(77, 74, 74);
	margin: 0 auto;
	width: 250px;
	text-align: center;
	color: white;
}
#datos h3{
	color: rgb(255, 255, 255);
}
#datos input{
	width: 200px;
}
/**campos del formulario**/
#datos input[type=Email]:focus {
	border: 3px solid blue;
}
#datos input[type=text]:focus {
	border: 3px solid blue;
}
#datos input[type=password]:focus {
	border: 3px solid blue;
}
/**botones del formulario**/
input[type=submit], input[type=reset]{
  width: 200px;
  background-color: #9b9b9b;
  color: white;
  padding: 10px 10px;
  margin:0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover{
  background-color: #2c2c2c;
}
input[type=text]:focus, textarea:focus{
  border: 3px solid rgb(0, 0, 0);
}
.title > a {
    font-size: 2vw;
	color: rgb(255, 255, 255);
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}