@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

/*Basic*/
body {
  font-family: Libre Caslon Text;
  background-color: #252724ad;
}
.title {
  grid-area: title;
  color: black;
}
div{
  display: inline-block;
}
/*grid de navegación*/
.loginGrid{
  height: 10%;
  margin: auto;
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template: 
    'menu title login';
}
.menu-container{
  grid-area: menu;
}
/*titulo*/
h1{
  text-align: center;
  font-size: 2vw;
  padding: 1em;
}
#logo {
  width: 3vw;
  height: 5vh;
}
/*login*/
.login{
  width: 5%;
  margin: auto;
  padding-top: 5%;
  grid-area: login;
}
a {
  text-decoration: none;
  text-align: center;
}
/*articulo*/
.text{
  width: 80%;
  margin: 0 auto;
  grid-area: text;
}
/*video*/
#propaganda{
  width: 98vw;
  height: 90vh;
  margin: auto;

}
/*webTicker*/
#webTicker{
  width:100%;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 0;
  height: 5vh;
}
#webTicker li{
  font-size: 2em;
  color: white;
  z-index: 0;
}
/*footer*/
footer{
  background-color: #579e289d;
  grid-area: footer;
}
footer p{
  text-align: center;
}
h1{
  font-family: 'Big Shoulders Stencil Text', cursive;
text-align: center;
color: rgb(255, 255, 255);
}
.title > a {
  font-size: 2vw;
color: rgb(255, 255, 255);
padding: .75em;
text-align: center;
text-decoration: none;
transition: all .5s;
}