@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');


/*icono de la hamburgesa*/
.hamburger-icon {
  position: absolute;
  z-index: 2;
  top: 5vh;
  left: 5vw;
  padding-bottom: 1vh;
}
.hamburger-icon span { /*las lineas que hacen a la hamburgesa*/
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

/*acciones del menu*/
#openmenu:checked ~ .menu-pane { /*desvela el menu*/
  left: -5vw;
  transform: translateX(-5vw);
}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) { /*rota los spans para que de el efecto de la x*/
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) { /*rota los spans para que de el efecto de la x*/
  transform: rotate(45deg);
  background-color: white;
}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) { /*oculta el span inicial*/
  opacity: 0;
}
#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) { /*oculta el span final*/
  opacity: 0;
}
/*el menu*/
div.menu-pane { /*el panel*/
  background-color: #000;
  position: absolute;
  transform: translateX(-55vw);
  transform-origin: (0, 0);
  width: 50vw;
  height: 100vh;
  transition: 0.6s ease-in-out;
  z-index: 1;
}
.menu-pane p { /*la letra del menu*/
  color: black;
  font-size: 0.6em;
}
.menu-pane nav { /*el nav del menu*/
  padding: 25%;
}
.menu-links li, a, span {/*la info de el menu*/
  transition: 0.5s ease-in-out;
}
.menu-pane ul { /*los uls de la lista*/
  padding: 10%;
  display: inline-block;
  margin: auto;
}
.menu-pane li { /*los lis de la lista*/
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  font-size: 1em;
}
.menu-pane li:first-child { /*el primer li que encuentre*/
  font-size: 1.3em;
  margin-left: -10px;
}
.menu-links li a { /*los links*/
  color: white;
  text-decoration: none;
}
.menu-links li:hover a { /*cuando pasamos encima del link*/
  color: #FFAB91;
}
.menu-links li:first-child:hover a {/*cuando pasamos encima del primer link*/
  color: black;  
  background-color: #FFAB91;
}
.menu-links li:first-child a {
  padding: 5px;
}
/*menu oculto que aparce al ponernos encima de algunos links*/
#QC-info {
  background-color: #FFAB91;
  border: 2px solid;
  border-color: #FFAB91;
  display: block;
  opacity: 0;
}
#DC-info {
  background-color: #FFAB91;
  border: 2px solid;
  border-color: #FFAB91;
  display: block;
  opacity: 0;
}
.menu-links li:first-child:hover #QC-info { /*desvelamos el menu oculto*/
  opacity: 1;
}
.menu-links li:first-child:hover #DC-info { /*desvelamos el menu oculto*/
  opacity: 1;
}
/*checkbox de la hamburgesa que dicta si el el menu esta activo o no*/
input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}